body{
     max-width: 760px;
}
#container{
    display:flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    background: url(./img/background-linksPRO.png) center ;
}
#perfil img{
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(0, 187, 0);
    height: 200px;
    margin: 30px ;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 
}
#perfil{
    text-align: center;
    color: white;
   
}
#links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#links h1{
    background: white ; 
    text-align: center;
    padding: 5px;
    border-radius: 12px;
}
#links ul {
    list-style: none;
}
#links li {
    margin-top: 20px;
}
#links a {
    display: block;
    text-align: center;
    width: 300px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
}
#links a:hover{
    background-color: white;
    color: black;
    border: 3px solid black;
    transition: 0.3s;

}
#footer{
    display: inline-block;
    color: black ;
    text-align: center;
}
#footer h2 {
    background: white;
    border-radius: 12px;
}
#footer p{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin:0px 20px 20px 20px ;
}
#rodaPe{
    text-align: center;
    background: rgb(146, 146, 146);
    padding:10px;
    border-radius: 12px;
}