body{
    display:block;
    flex-direction: column;
    align-items: center;
}
#container{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: url(./img/background-linksPRO.png) center ;
}
#perfil img{
    height: 200px;
    margin: 30px ; 
}
#perfil{
    text-align: center;
    color: white;
}
#links ul {
    list-style: none;
}
#links li {
    margin-top: 20px;
}
#links a {
    display:block;
    width: 300px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
}
#links a:hover{
    background-color: white;
    color: black;
    border: 3px solid black;
    transition: 0.3s;

}
#footer{
    display: inline-block;
    color: white;
    text-align: center;
}
#footer p{
    background-color: rgb(167, 167, 167);
    border-radius: 10px;
    padding: 10px;
    margin:0px 20px 20px 20px ;
}